.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
data/
**/data*/
old/

# directories
libraries/
setinter/

# Jupyter 
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# misc 
.drawio
.txt
.dat